.sub-title {
    color: #C8AD55;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 2rem;
}


/* Trabajos */
.trabajos .container {
    overflow: hidden;
    box-shadow: inset 7px 10px 63px 65px rgba(50,19,37,1);
    background: #592242;
    padding: 1rem;
    margin-top: 1rem;
}
.title {
    font-size: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color: #BB4430;
    padding-top: 2rem;
}
h3 {
    font-size: 24px;
    text-decoration: underline;
    color: #BB4430;
}
.container-trabajos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.trabajo {
    width: 23%;
    margin-bottom: 40px;
}
.thumb {
    width: 100%;
    margin-bottom: 10px;
    align-items: baseline;
    min-height: 350px;
}
.thumb img {
    width: 100%;
    vertical-align: top;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 20px;
    box-shadow: -1px 2px 16px 3px rgba(0,0,0,0.75);
}
.thumb img:hover {
    opacity: 0.8;
}
.description {
    text-align: center;
}
.description .name {
    font-weight: 700;
    color:#BB4430;
    margin-bottom: 10px;
}
.description .category {
    font-size: 12px;
    color: #C8AD55;
}

@media screen and (max-width: 800px) {
    .container-trabajos {
        align-items: flex-start;
    }
    .trabajo {
        width: 48%;
    }
    .thumb {
        min-height: 250px;
    }
    footer{
        padding: 1.5rem;
    }
    footer h2{
        font-size: 20px;
    }
}